@model geos_mvc.Models.personel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="wrapper fadeInDown">
        @using (Html.BeginForm("Login","Security",FormMethod.Post))
        {
            <div id="formContent">
                <h2 class="active"> Giriş </h2>
                <form>
                    @Html.TextBoxFor(m => m.KullanıcıAdı, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                    @Html.TextBoxFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                    <button type="submit" class="btn btn-success">Giriş Yap</button>
                </form>
            </div>
        }

    </div>

</body>
</html>
